@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');


@import "tailwindcss";

@keyframes aurora {
  0% {
    transform: translate(0px, 0px) scale(1);
  }

  25% {
    transform: translate(60px, 40px) scale(1.1);
  }

  50% {
    transform: translate(-40px, 60px) scale(0.95);
  }

  75% {
    transform: translate(30px, -50px) scale(1.05);
  }

  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

@keyframes aurora2 {
  0% {
    transform: translate(0px, 0px) scale(1);
  }

  25% {
    transform: translate(-60px, -40px) scale(1.08);
  }

  50% {
    transform: translate(40px, -60px) scale(0.95);
  }

  75% {
    transform: translate(-30px, 50px) scale(1.05);
  }

  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-aurora {
  animation: aurora 10s ease-in-out infinite;
}

.animate-aurora2 {
  animation: aurora2 12s ease-in-out infinite;
}

/* SHOOTING STAR */

.shooting-star {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 200px;
  height: 2px;
  background: linear-gradient(to right, white, transparent);
  transform: rotate(45deg);
  animation: shoot 6s linear infinite;
  opacity: 0.7;
}

.delay-1 {
  animation-delay: 2s;
}

.delay-2 {
  animation-delay: 4s;
}

@keyframes shoot {
  0% {
    transform: translate(0, 0) rotate(45deg);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    transform: translate(1200px, 700px) rotate(45deg);
    opacity: 0;
  }
}


.particle {
  position: absolute;
  bottom: -20px;
  width: 6px;
  height: 6px;
  background: rgba(255,255,255,0.3);
  border-radius: 999px;
  animation: floatParticle linear infinite;
}

@keyframes floatParticle {
  from {
    transform: translateY(0px);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  to {
    transform: translateY(-120vh);
    opacity: 0;
  }
}

/* HIDE DEFAULT CURSOR */
* {
  cursor: none;
}


.custom-cursor {
  position: fixed;
  width: 14px;
  height: 14px;
  background: #67e8f9;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 999999;
  transition: transform 0.15s ease;
  box-shadow:
    0 0 10px #67e8f9,
    0 0 20px #67e8f9,
    0 0 40px #67e8f9;
}


.cursor-ring {
  position: fixed;
  width: 40px;
  height: 40px;
  border: 2px solid rgba(103, 232, 249, 0.5);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 999998;
  transition:
    width 0.2s ease,
    height 0.2s ease,
    border 0.2s ease,
    transform 0.08s linear;
}


.clicked {
  transform: translate(-50%, -50%) scale(1.8);
  background: white;
}

.ring-clicked {
  width: 70px;
  height: 70px;
  border-color: rgba(255,255,255,0.8);
}


@media (max-width: 768px) {
  .custom-cursor,
  .cursor-ring {
    display: none;
  }

  * {
    cursor: auto;
  }
}


.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(103, 232, 249, 0.5);
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(103, 232, 249, 0.9);
}


.aurora {
  position: absolute;
  border-radius: 9999px;
  filter: blur(120px);
  opacity: 0.20;
  pointer-events: none;
  animation: auroraFloat 18s infinite ease-in-out;
}

.aurora1 {
  width: 500px;
  height: 500px;
  background: #06b6d4;
  top: -150px;
  left: -100px;
}

.aurora2 {
  width: 600px;
  height: 600px;
  background: #9333ea;
  top: 200px;
  right: -150px;
}

.aurora3 {
  width: 500px;
  height: 500px;
  background: #22d3ee;
  bottom: -100px;
  left: 35%;
}

@keyframes auroraFloat {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(120px, -70px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}


:root{
  --neo-bg:#eef2f7;
  --neo-light:rgba(255,255,255,.95);
  --neo-dark:rgba(0,0,0,.08);
}

.neo-navbar{

  background:hsl(0, 33%, 98%);

  backdrop-filter:blur(18px);

  border-radius:28px;

  border:1px solid rgba(255,255,255,.5);



}

.neo-nav-btn{

  background:transparent;

  border-radius:14px;

  padding:10px 16px;

  transition:.3s;
}

.neo-nav-btn:hover{

  transform:translateY(-2px);

  box-shadow:
    -4px -4px 8px #076251cc,
     4px 4px 8px rgba(0,0,0,.06);

}

.neo-nav-btn:active{

  box-shadow:
    inset -3px -3px 6px rgba(255,255,255,.8),
    inset 3px 3px 6px rgba(0,0,0,.06);

}
